<!DOCTYPE html>
<html>
    <head>
        <title>My Star Wars Site</title>
        <link rel="stylesheet" type="text/css" href="./styles.css">
    </head>
    <body>
        <div id="root">
            <div class="container">
                <div class="card">
                    <h1 id="film0"></h1>
                    <p id="crawl0"></p>
                </div>
                <div class="card">
                    <h1 id="film1"></h1>
                    <p id="crawl1"></p>
                </div>
                <div class="card">
                    <h1 id="film2"></h1>
                    <p id="crawl2"></p>
                </div>
                <div class="card">
                    <h1 id="film3"></h1>
                    <p id="crawl3"></p>
                </div>
                <div class="card">
                    <h1 id="film4"></h1>
                    <p id="crawl4"></p>
                </div>
                <div class="card">
                    <h1 id="film5"></h1>
                    <p id="crawl5"></p>
                </div>
                <div class="card">
                    <h1 id="film6"></h1>
                    <p id="crawl6"></p>
                </div>
            </div>
        </div>
    </body>
    <script src='./index.js' type="module"></script>
</html>