body {
    display: flex;
}
#root {
    max-width: 1200px;
    margin: 0 auto;
}
.container {
    display: flex;
    flex-wrap: wrap;
}
.card {
    margin: 1rem;
    border: 1px solid gray;
}
@media screen and (min-width: 600px) {
    .card {
        flex: 1 1 calc(50% - 2rem);
    }
}
@media screen and (min-width: 900px){
    .card{
        flex: 1 1 calc(33% - 2rem);
    }
.content{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, .2);
    z-index: 1;
}
}